import sys

from nova_api_core.presentation.app_factory import create_app
from nova_api_core.core.config.loader import ConfigLoader
from nova_api_core.core.config.providers.env_provider import EnvProvider

from nova_api_core.infra.logger.json_logger import JsonLogger
from nova_api_core.core.application.exception.exception import AppException

from presentation.routes import ROUTES
from presentation.exception_handlers import ERROR_HANDLERS
from core.config.app_config import AppConfig

{{DATABASE_IMPORT}}

# 1. BOOTSTRAP
bootstrap_provider = EnvProvider(".env.base")
bootstrap = ConfigLoader.load_bootstrap(bootstrap_provider)

# 2. LOGGER
logger = JsonLogger(app_name=bootstrap.APP_NAME, environment=bootstrap.ENV)

try:
    # 3. ENV CONFIG
    env_provider = EnvProvider(f".env.{bootstrap.ENV}")
    config: AppConfig = ConfigLoader.load_app_config(
        AppConfig,
        providers=[env_provider]
    )

    # 4. DATABASE SETUP
    {{DATABASE_SETUP}}

    database_manager = get_database_manager(config)

    # 5. APP CREATION
    app = create_app(
        config=config,
        bootstrap=bootstrap,
        logger=logger,
        routes=ROUTES,
        error_handlers=ERROR_HANDLERS,
        db_manager=database_manager,
    )

except AppException as app_exc:
    logger.critical(app_exc.technical_details)
    sys.exit(1)

except Exception as e:
    logger.critical(f"[APP CAN'T START] {str(e)}")
    sys.exit(1)