from nova_api_core.presentation.exception_handlers.app_exception_handler import AppExceptionHandler
from nova_api_core.presentation.exception_handlers.generic_exception_handler import GenericExceptionHandler


ERROR_HANDLERS = [
    AppExceptionHandler(),
    GenericExceptionHandler(),
]